[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "drawer"]
	path = drawer
	url = https://github.com/lz100/drawer
[submodule "spsComps"]
	path = spsComps
	url = https://github.com/lz100/spscomps
[submodule "spsUtil"]
	path = spsUtil
	url = https://github.com/lz100/spsutil
